// User Component
.user {
    display: flex;
    flex-direction: column;
  
    p {
      margin: 0;
    }
  
    &__image {
      width: 8.5rem;
      height: 8.5rem;
      margin: 9.5rem auto 1rem;
      padding: 0.5rem;
      border: 2px solid #7396FD;
      box-sizing: border-box;
      border-radius: 2rem;
  
      img {
        width: 100%;
        margin: 2rem auto;
        border-radius: 1.6rem;
        object-fit: contain;
      }
    }
  
    &__fullname, &__designation, &__department {
      display: flex;
      justify-content: center;
      margin: 0.2rem 0;
    }
  
    &__fullname {
      p {
        font-size: 1.4rem;
        line-height: 16px;
        color: #5F5C7F;
      }
    }

    &__fullname--bold {
        font-family: 'Roboto', sans-serif;
        padding-top: 0.75rem;
    }
  
    &__designation {
      p {
        font-size: 1.1rem;
        line-height: 18px;
        color: #8A94A6;
      }
    }
  
    &__department {
      p {
        font-size: 1rem;
        line-height: 18px;
        color: #ACAFB1;
      }
    }
  }

  // Menu Component
.menu {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3.5rem;

    .badge {
      width: 2rem;
      height: 1.5rem;
      margin: 10px 48px 10px 0;
      background: $color-primary;
      border-radius: 0.7rem;
      text-align: center;

      p {
        margin: 0 auto;
        padding: 0 auto;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        color: $color-white;
      }
    }

    &__logout {
      margin-bottom: 17rem;
    }
  }

  .filler {
    height: 35rem;
  }

  a {
    display: block;
    padding: 1rem 0;
    font-size: 1.3rem;
    line-height: 14px;
    color: #8A94A6;
    text-decoration: none;
    border-left: 3px solid $color-white;

    i {
      padding: 0 20px 0 20px;
    }
  }

  .active {
    color: #43536F;
    font-weight: bold;
    padding-top: 1rem;
    padding-left: 1rem;
    border-left: 3px solid $color-primary;

    i {
        padding-left: 7.5px;
    }
  }

  .logout {
    color: $color-black-sub;

    i {
      color: #c9ced6;
    }
  }
}

//Dashbard Component
.dashboard {
  p {
    font-size: 2.4rem;
    line-height: 20px;
    padding-top: 0.5rem;
    color: #43536F;
  }

  .filler-1 {
    height: 5rem;
  }

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 6rem;

    &--statistics {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .dashboard__info--stat {
        display: flex;
        flex-direction: row;
        margin: 1rem 0;
        min-width: 14rem;
        border-right: 0.5px solid #A6AEBC;

        .stat-icon {
          height: 3rem;
          width: 3rem;
          margin: 0.5rem 0;
          border-radius: 50%;
          background: black;
          text-align: center;

          i {
            font-size: 1rem;
            color: $color-white;
            text-shadow: 0px 0.5px 0px #4C4C4C;
            margin-top: 1rem;
          }
        }

        .stat-icon-purple {
          background: #B073FD;
        }

        .stat-icon-blue {
          background: #8FD7FF;
        }

        .stat-icon-turquoise {
          background: #82B1ED;
        }

        .stat-icon-green {
          background: #0BB07B;
        }

        .stat-text {
          p {
            padding: 0 1rem;
            font-size: 1rem;
            color: #8A94A6;
          }

          h4 {
            padding: 0 1rem;
            font-size: 1rem;
            line-height: 20px;
            color: #53627C;
          }
        }
      }

      .dashboard__info--stat:last-child {
        border-right: none;
      }

      .dashboard__info--stat:not(:first-child) {
        margin-left: 2.5rem;
      }
    }

    .new-document-btn {
      width: 14.5rem;
      height: 4rem;
      align-self: flex-end;
      margin-bottom: 1rem;
      background: $color-primary;
      outline: none;
      border: none;
      border-radius: 5px;
      box-shadow: 0px 8px 20px rgba(12, 102, 255, 0.25);
      color: $color-white;

      p {
        display: inline;
        padding-left: 1rem;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 20px;
        color: $color-white;
      }
    }
  }

}

.documents {
  &__pending {
    display: flex;
    flex-direction: column;
    flex: 0 0 68%;

    &--header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 3.5%;

      h2 {
        font-weight: 600;
        line-height: 14px;
        font-size: 1rem;
        letter-spacing: 1.2px;
        color: #4E586A;
        margin: 0 3%;
        text-transform: uppercase;
      }

      h2:after {
        content: "";
        display: block;
        width: 3rem;
        padding-top: 8px;
        border-bottom: 2px solid $color-primary;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin: 0 6.5%;
        color: $color-primary;
      }
    }

    &--table {
      margin-top: 4.5%;

      table {
        width: 100%;
        border-collapse: collapse;

        .table-header {
          height: 4rem;
        }

        th {
          background: #F9F9F9;
          font-size: 1rem;
          font-weight: normal;
          line-height: 20px;
          color: #A6AEBC;
          text-align: left;

          .filler-2 {
            width: 6rem;
          }

          &:first-child {
            padding-left: 4%;
          }
        }

        td {
          font-size: 1rem;
          line-height: 20px;
          margin: 1rem 0;
          color: #53627C;
        }

        .file-name-data {
          padding-left: 2.5rem;
        }

        .review-column {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          div {
            border: 2px solid green;
          }

          .owner-name {
            margin-left: -20%;
          }

          .review {
            display: inline;
            font-weight: 600;
            padding-right: 4rem;
            color: $color-primary;
          }
        }
      }
    }
  }

  &__summary {
    border: 1px solid black;
    display: flex;
    flex: 1;
    flex-direction: column;

    &--header {
      margin-top: 8%;

      h2 {
        font-weight: 600;
        line-height: 14px;
        font-size: 1rem;
        letter-spacing: 1.2px;
        color: #4E586A;
        margin: 0 10%;
        text-transform: uppercase;
      }

      h2:after {
        content: "";
        display: block;
        width: 3rem;
        padding-top: 8px;
        border-bottom: 2px solid $color-primary;
      }
    }

    &--pie {
      width: 43%;
      height: 45%;
      margin: 2rem auto;
      border-radius: 50%;
      border-right-color: #82B1ED;
      border-top-color: #FFAD0D;
      border-bottom-color: #82B1ED;
      border-left-color: #277D61;
      border-width: 2rem;
      border-style: solid;
      -webkit-transform: rotate(300deg);
      -moz-transform: rotate(300deg);
      -o-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
      transform: rotate(300deg);
    }
  }
  
}
