.container {
    max-width: 128rem;
    margin: 5rem auto;
    height: 92.7rem;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 17.5%;
    height: 100%;
    background: $color-white;
    box-shadow: 4px 0px 24px #E3E3E3;
}

.content {
    display: flex;
    flex-direction: column;
    background: #f6f9ff;
    flex: 1;

    &__wrapper {
        margin: 5rem 5rem;
    }
}

.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
}

.documents {

}

.recent {

}
