.container {
    max-width: 128rem;
    margin: 5rem auto;
    height: 92.7rem;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 17.5%;
    height: 100%;
    background: $color-white;
    box-shadow: 4px 0px 24px #E3E3E3;
}

.dashboard {

}

.documents {

}

.recent {

}
